<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini RDBMS CRUD</title>
    <!-- Bootstrap CSS -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-wEmeIV1mKuiNpA+Qp+6q9ctX2JWlNH1hZNQ0Fg+Q4hRlK+zVrTvH+8ABO9KkR8NQ" 
        crossorigin="anonymous">
    <!-- jQuery -->
    <script 
        src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-3gJwYp4T+Kc/j0Qt6wYlAQ34PQ4vJk9KY16vB1HGUos=" 
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS Bundle (with Popper) -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-0EvHe/X+R7YkRLvrv8Vvt0zSm0Z5Q9MXldoDfA6Fm24sF3j93Gx2HN+f9dW5QZf+" 
        crossorigin="anonymous"></script>
</head>
<body class="container my-4">
    <h1 class="mb-4">Mini RDBMS – Web CRUD</h1>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
